body {
    background-color: tan;
}

.topnav {
    width: auto;
    padding: 10px 10px;
    margin: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar {
    float: inline-start;
    font-family: fantasy;
    font-size: 50px;
    color: wheat;
    padding: 14px 16px;
    border: saddlebrown solid 2px;
}

.navright {
    float: right;
    padding: 14px 16px 30px;
    font-family: copperplate;
    font-size: 18px;
    color: black;
}

.navright:hover {
    color: wheat;
}

h1 {

    padding: 60px 0px 0px 0px;
    margin: 30px;
    font-family: copperplate;
    font-size: 40px;
    color: saddlebrown;
}

.card {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    padding: 16px;
    width: 240px;
    height: 500px;
    display: inline-grid;
    margin: 16px 32px;
    background-color: white;
    box-shadow: 3px 4px wheat;
    border: saddlebrown solid 2px;
    border-radius: 8px;
}

.product-pic {
    justify-self: center;
    height: 192px;
    width: auto;
}

.fav-btn {
    font-family: copperplate;
    color: red;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.buy-btn {
    font-family: copperplate;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.description {

    display: none;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: saddlebrown;
} 

.displayed {
    display: block;
    float: center;
}

.footer {
        background: tan;
        box-sizing: border-box;
        width: 100%;
        font: copperplate;
        text-align: left;
        padding: 30px 20px 40px;
        overflow: hidden;
        color: wheat;
        font-size: 15px;
        border: saddlebrown solid 2px;
}

.email{
    color: wheat
}

.email:hover {
    color: saddlebrown;
}