body {
    background-color: whitesmoke;
}

.topnav {
    width: auto;
    padding: 10px 10px;
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar {
    float: inline-start;
    font-family: fantasy;
    font-size: 25px;
    color: rosybrown;
    padding: 14px 16px;
}

.navright {
    float: right;
    padding: 14px 16px 20px;
    font-family: copperplate;
    font-size: 18px;
    color: black
}

#skin-products {
    padding: 20px 16px 20px 5px;
    margin: 40px;
    font-family: copperplate;
    font-size: 18px;
    color: black
}